.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vw;
  border: 2px solid red;
  left: 0;
  right: 0;
  margin: auto;

}

.App > * {
  width: 30px;
  height: 30px;
  margin: auto;
}
